body {
    background: #fafafa;
    overflow: auto;
}
img {
    max-width: 100%;
}
.ui.three.stackable.cards {
    margin-top: 1rem;
}
.modal img {
    width: 100%;
    height: 100%;
}
#back-top {
    opacity: .5;
    font-size: 2rem;
    position: fixed;
    bottom: 10%;
    right: 0;
    display: none;
}
